.card {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: $dark-8;
  overflow: hidden;
  border-radius: 2 * $corner-radius;

  img {
    height: 18rem;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .inside {
    padding: 1rem 2rem 2rem 2rem;
    display: grid;
    grid-template-rows: auto 1fr auto;

    h2 {
      text-transform: uppercase;
      padding: 0.5em 0;
      font-weight: 900;
    }

    p {
      font-size: 1.125rem;
      font-size: 1rem;
      font-weight: 400;
      //font-family: 'Roboto Mono', mono;
    }

    .buttons {
      display: grid;
      grid-template-columns: auto auto 1fr;
      gap: 1rem;
      margin-top: 2rem;
    }
  }
}
