.main-footer {
  display: grid;
  place-content: center;
  padding: 2em 0;
  align-self: flex-end;
  background-color: $dark;
  position: relative;

  & a,
  & .jakoodkaz {
    padding: 0 1em;
    white-space: nowrap;
    font-size: 1em;
    line-height: 48px;
    transition: 250ms ease-in;
    position: relative;
    transform: scale(1);
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
  }

  & a:hover {
    color: $highlight;
  }
}
