.hero {
  min-height: 100vh;
  display: grid;
  place-content: center;

  & .title {
    position: relative;
    width: 100vw;
    max-width: 1200px;
    padding-bottom: 2rem;

    & h2 {
      max-width: 15em;
      padding: 1rem 0;
      display: block;
      font-size: 4rem;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-weight: 900;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      right: 5rem;
      left: 5rem;
      bottom: 2rem;
      background-color: $accent;
    }
    &::after {
      z-index: -2;
      top: 2rem;
      right: 0;
      left: 50%;
      bottom: 0;
      background: url(../img/bg.svg);
    }
  }

  a#scroll {
    position: absolute;
    bottom: 2em;
    height: 3em;
    width: 2em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.85em;
    border: 0.2em $white solid;
    animation: mouse infinite 0.8s alternate ease-in-out;

    &::after {
      content: '';
      position: absolute;
      top: 0.5em;
      height: 0.5em;
      left: calc(50% - 0.1em);
      border: 0.1em $white solid;
      border-radius: 0.2em;
      background-color: $white;
      animation: middleButton 1.6s ease-in-out infinite;
    }
  }
}

@keyframes middleButton {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    transform: translateY(0.5em);
    opacity: 0;
  }

  100% {
    transform: translateY(0.5em);
    opacity: 0;
  }
}

@keyframes mouse {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0.125em);
  }
}
