.main {
  padding: 3rem 0.2rem;
  padding-top: calc(88px + 3rem);
  min-height: 200vh;

  .articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }
}
