@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=latin-ext");
* {
  margin: 0;
  font-family: Roboto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 120%;
  text-decoration: none;
  color: currentColor;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  color: #f5f5f5;
  overflow-x: hidden;
}

body {
  background-color: #000000;
}

::-webkit-scrollbar {
  display: none;
}

.all {
  display: -ms-grid;
  display: grid;
  width: 100%;
  min-height: 100vh;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0;
  -ms-grid-rows: auto auto 1fr auto;
      grid-template-rows: auto auto 1fr auto;
}

a,
img {
  display: block;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.main-header {
  padding: 1.25em 6rem;
  position: fixed;
  width: 100%;
  top: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: #18171d;
  color: #f5f5f5;
  z-index: 100;
}

.main-header.active .nav {
  max-width: 2000px;
}

.main-header.fixed {
  position: fixed;
}

.main-header .nav {
  display: -ms-grid;
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
      grid-template-areas: 'logo . nav';
}

.main-header .nav .logo {
  fill: #f5f5f5;
  height: 48px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

.main-header .nav .logo a {
  margin: -0.5em;
  padding: 0.5em;
  position: relative;
}

.main-header .nav .logo a svg {
  height: 3em;
  fill: currentColor;
  -webkit-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.main-header .nav .logo a:hover svg {
  fill: #9147ff;
}

.main-header .nav .logo a::before {
  content: 'BETA';
  position: absolute;
  left: calc(100% - 0.5em);
  top: 0.5em;
  font-size: 0.75em;
  padding-right: 0.5em;
}

.main-header .nav ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 2px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: nav;
  margin-right: -0.5em;
}

.main-header .nav ul li a {
  padding: 0 0.5em;
  white-space: nowrap;
  font-size: 1em;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.main-header .nav ul li a::after {
  content: '';
  position: absolute;
  left: 0.5em;
  right: 0.5em;
  bottom: 0;
  height: 5px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  background-color: #9147ff;
}

.main-header .nav ul li a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

.main-header .nav ul li.active a::before {
  content: '';
  position: absolute;
  left: 0.5em;
  right: 0.5em;
  top: 0;
  height: 5px;
  background-color: #9147ff;
}

.hero {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.hero .title {
  position: relative;
  width: 100vw;
  max-width: 1200px;
  padding-bottom: 2rem;
}

.hero .title h2 {
  max-width: 15em;
  padding: 1rem 0;
  display: block;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}

.hero .title::before, .hero .title::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 5rem;
  left: 5rem;
  bottom: 2rem;
  background-color: #9147ff;
}

.hero .title::after {
  z-index: -2;
  top: 2rem;
  right: 0;
  left: 50%;
  bottom: 0;
  background: url(../img/bg.svg);
}

.hero a#scroll {
  position: absolute;
  bottom: 2em;
  height: 3em;
  width: 2em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 0.85em;
  border: 0.2em #f5f5f5 solid;
  -webkit-animation: mouse infinite 0.8s alternate ease-in-out;
          animation: mouse infinite 0.8s alternate ease-in-out;
}

.hero a#scroll::after {
  content: '';
  position: absolute;
  top: 0.5em;
  height: 0.5em;
  left: calc(50% - 0.1em);
  border: 0.1em #f5f5f5 solid;
  border-radius: 0.2em;
  background-color: #f5f5f5;
  -webkit-animation: middleButton 1.6s ease-in-out infinite;
          animation: middleButton 1.6s ease-in-out infinite;
}

@-webkit-keyframes middleButton {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em);
    opacity: 0;
  }
}

@keyframes middleButton {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em);
    opacity: 0;
  }
}

@-webkit-keyframes mouse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.125em);
            transform: translateY(0.125em);
  }
}

@keyframes mouse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0.125em);
            transform: translateY(0.125em);
  }
}

.main {
  padding: 3rem 0.2rem;
  padding-top: calc(88px + 3rem);
  min-height: 200vh;
}

.main .articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.main-footer {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 2em 0;
  align-self: flex-end;
  background-color: #000000;
  position: relative;
}

.main-footer a,
.main-footer .jakoodkaz {
  padding: 0 1em;
  white-space: nowrap;
  font-size: 1em;
  line-height: 48px;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  font-weight: 700;
  text-transform: uppercase;
  color: #f5f5f5;
}

.main-footer a:hover {
  color: #a970ff;
}

.button,
button {
  all: unset;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 900;
  background-color: #9147ff;
  cursor: pointer;
  border: 3px solid #9147ff;
  border-radius: 0.5rem;
}

.button .material-icons,
button .material-icons {
  display: block;
  color: #9147ff;
  font-weight: 900;
}

.button:hover,
button:hover {
  background-color: #a66bff;
  border: 3px solid #a66bff;
}

.button:hover .material-icons,
button:hover .material-icons {
  color: #a66bff;
}

.button.heart,
button.heart {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  padding: 0;
  color: #a66bff;
}

.button.heart:hover,
button.heart:hover {
  background-color: transparent;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  background-color: #18181b;
  overflow: hidden;
  border-radius: 1rem;
}

.card img {
  height: 18rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.card .inside {
  padding: 1rem 2rem 2rem 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.card .inside h2 {
  text-transform: uppercase;
  padding: 0.5em 0;
  font-weight: 900;
}

.card .inside p {
  font-size: 1.125rem;
  font-size: 1rem;
  font-weight: 400;
}

.card .inside .buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto 1fr;
      grid-template-columns: auto auto 1fr;
  gap: 1rem;
  margin-top: 2rem;
}
/*# sourceMappingURL=style.css.map */