@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
* {
  margin: 0;
  font-family: Roboto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 120%;
  text-decoration: none;
  color: currentColor;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  color: #f5f5f5;
  overflow-x: hidden;
}

body {
  background-color: #031c2b;
  background-color: #0e0e10;
}

::-webkit-scrollbar {
  display: none;
}

.all {
  display: -ms-grid;
  display: grid;
  width: 100%;
  min-height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 0.5em;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

img,
a {
  display: block;
}

li {
  list-style: none;
}

main {
  -ms-grid-row-align: stretch;
      align-self: stretch;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 4em;
  margin: 2em 0;
}

main > section {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.main-footer a {
  color: inherit;
}

.main-footer a:hover {
  color: #a66bff;
}

h2,
h3 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0.3em;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
  max-width: 30em;
  max-width: 40em;
  font-family: 'Roboto Mono', monospace;
}

.tool {
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 't i' 'f i';
  row-gap: 6rem;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 4rem;
}

.tool .title p {
  font-size: 1rem;
  max-width: 40em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: t;
}

.tool .title p a {
  color: #a970ff;
  font-family: inherit;
  display: inline;
}

.tool .title p a:hover, .tool .title p a:focus {
  text-decoration: underline;
}

.tool .fakt {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: f;
}

.tool .fakt::before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 1.2rem;
  height: 3rem;
  background-color: #f5f5f5;
  background-color: #18181b;
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
          clip-path: polygon(0 0, 100% 0, 0 100%);
}

.tool .fakt .fakt__content {
  background-color: #f5f5f5;
  background-color: #18181b;
  min-height: 18rem;
  padding: 3rem 3.5rem;
  padding-right: 8.5rem;
  margin-right: auto;
  position: relative;
}

.tool .fakt .fakt__content .copy {
  position: absolute;
  left: 0;
  bottom: calc(100% + 0.5rem);
  height: auto;
  width: auto;
  border-radius: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.tool .fakt .fakt__content .copy > label {
  display: none;
  position: absolute;
  bottom: 0;
  background-color: #18181b;
  padding: 0.75rem;
  left: calc(100% + 1rem);
  color: #f5f5f5;
  border-radius: 0.5rem;
  width: auto;
  white-space: nowrap;
}

.tool .fakt .fakt__content .copy > label::after {
  content: '';
  position: absolute;
  right: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.5rem;
  height: 1rem;
  background-color: inherit;
  top: 50%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
          clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

.tool .fakt .fakt__content .copy:hover > label {
  display: block;
}

@media screen and (max-width: 800px) {
  .tool .fakt .fakt__content .copy {
    left: auto;
    right: 0;
  }
  .tool .fakt .fakt__content .copy > label {
    left: auto;
    right: calc(100% + 1rem);
  }
  .tool .fakt .fakt__content .copy > label::after {
    right: auto;
    left: 100%;
    -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
            clip-path: polygon(0 0, 100% 50%, 0 100%);
  }
}

@media screen and (max-width: 1000px) {
  .tool .fakt::before {
    display: none;
  }
  .tool .fakt .fakt__content {
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 500px) {
  .tool .fakt .fakt__content {
    padding: 3rem 1rem 2rem 1rem;
  }
}

.tool .imgs {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: i;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 1000px) {
  .tool .imgs {
    display: none;
  }
}

.tool .imgs .fg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: calc(100% + 116px);
  -webkit-clip-path: polygon(0 46%, 22% 36%, 87% 76%, 79% 100%, 49% 100%, 0% 62%);
          clip-path: polygon(0 46%, 22% 36%, 87% 76%, 79% 100%, 49% 100%, 0% 62%);
}

.button {
  background-color: #ff2c35;
  color: #f5f5f5;
  background-color: #9147ff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0.75rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem;
      grid-template-columns: 1fr 2rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: 100%;
  margin-top: 0.5rem;
  text-align: left;
  border: none;
  gap: 1rem;
}

.button:hover, .button:focus {
  background-color: #a66bff;
}

.button:hover svg, .button:focus svg {
  -webkit-animation: arrow-out 0.15s ease-in 0s 1 forwards, arrow-in 0.2s cubic-bezier(0.33, 0.33, 1, 0.66) 0.15s 1 forwards;
          animation: arrow-out 0.15s ease-in 0s 1 forwards, arrow-in 0.2s cubic-bezier(0.33, 0.33, 1, 0.66) 0.15s 1 forwards;
}

.button:focus {
  outline: none;
}

.button .arrow {
  overflow: hidden;
  width: auto;
  max-width: 4rem;
  height: 100%;
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.button .arrow svg {
  width: auto;
  max-width: 4rem;
  height: 100%;
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

@-webkit-keyframes arrow-out {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(1.2rem, 1.2rem);
            transform: translate(1.2rem, 1.2rem);
  }
}

@keyframes arrow-out {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(1.2rem, 1.2rem);
            transform: translate(1.2rem, 1.2rem);
  }
}

@-webkit-keyframes arrow-in {
  0% {
    -webkit-transform: translate(-1.2rem, -1.2rem);
            transform: translate(-1.2rem, -1.2rem);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes arrow-in {
  0% {
    -webkit-transform: translate(-1.2rem, -1.2rem);
            transform: translate(-1.2rem, -1.2rem);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
/*# sourceMappingURL=all.css.map */