body{
    position: relative;
    height: auto;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
   
}
main{
    position: relative;
    height: auto;
}

#heropage{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("../img/Wallpaper.jpg");
    background-size: cover;
    z-index: 2;
}
header{
    z-index: 3;
    position: fixed;
    height: 8vh;
    width: 100%;
    background-color: black;
}
header > a > img{
    position: absolute;
    top: 50%;
    left: 10%;
    height: 40%;
    transform: translate(-50%, -50%);
}
header > nav{
    position: relative;
    height: 100%;
    
}
nav > a{
    text-decoration: none;
    font-weight: 600;
    color: white;
    font-size: 1rem;
    margin-right: 5vw;
    padding-top: 2.5vh;
    float: right;

}
.container{
    position: absolute;
    bottom: 25vh;
    width: 90%;
    height: auto;
    left: 10%;

}
.container > h1{
    z-index: 0;
    color: white;
    width: auto;
    font-size: 3rem;
    margin-bottom: 2vh;
    margin-top: 0;
}
.container > div{
    height: auto;
    position: relative;

}
.container div > img{
    position: relative;
    float: left;
    height: 5vh;
    margin-right: 2vh;
    border-radius: 50%;
    

}
.container div > p{
    width: auto;
    margin: 0;
    font-weight: 300;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
}
#heropage > a > img{
    position: absolute;
    height: 5vh;
    bottom: 5%;
    right: 50%;
    transform: translateX(50%, 50%);
    transform: rotate(90deg);
}
#page2{
    position: relative;
    height: auto;
    background-color: black;
}
h2{
    color: white;
    margin: 0;
    padding: 3%;
    text-align: left;
    font-size: 2rem;
    

}
#page2 > div{
    position: relative;
    height: auto;
    width: 100%;
    background-color: transparent;
}
#page2 .main-box{
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    
   
}
#page2 > .main-box div{
    position: relative;
    height: auto;
    padding-bottom: 5vh;
    padding-top: 5vh;
    margin-bottom: 0;
    width: 100%;
    border-bottom: solid 1px rgb(36, 35, 33);
}
#page2 > .main-box div img{
    width: 80%;
    margin: 10%;
    border-radius: 5px;
}
#page2 > .main-box div p{
    color: white;
    font-weight: 300;
    font-size: 0.9rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10vh;
}
h3{
    position: relative;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 6%;
}
h3::after{
    content: "";
    position: absolute;
    height: 0.7vh;
    width: 4vh;
    background-color: rgb(66, 219, 130);
    bottom: 0;
    left: 0;
}
#page3{
    position: relative;
    height: auto;
    background-color: rgb(0, 0, 0);
}
#page3 .boxy{
    height: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 10vh;
}
#page3 .boxy div{
    position: relative;
    height: auto;
    margin: 2vh;
    width: 80%;
    border-radius: 5px;
    background-color: rgb(22, 22, 22);  
}
#page3 .boxy div img{
    position: relative;
    width: 100%;
    border-radius: 5px 5px 0 0;  
}
#page3 .boxy div > p{
    position: relative;
    color: white;
    font-weight: 300;
    margin: 10%; 
}
footer{
    position: relative;
    height: 5vh;
    background-color: black;
    text-align: center;
    border-top: solid 1px rgb(36, 35, 33);
}
footer > p{
    position: absolute;
    color: white;
    font-weight: 300;
    margin: 0;
    top: 50%;
    left: 50%;
    font-size: 0.8rem;
    transform: translate(-50%, -50%);
}

@media (min-width: 850px){
    #page2 .main-box{
        display: flex;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        justify-content: center;
       
       
       
       
    }
    #page2 > .main-box div{
        position: relative;
        max-height: 250px;
        max-width: 370px;
        margin: 1vh;
        padding: 0;
        border: 0;
       
    }

    #page2 > .main-box div img{
        position: relative;
        height: 100%;
        width: auto;
        margin: 0;

    }
    #page2 h3{
        z-index: 1;
        font-size: 1rem;
        position: absolute;
        margin: 0;
        text-align: center;
        border-radius: 0 5px 5px 0;
        font-weight: 400;
        width: auto;
        bottom: 2vh;
        left: 0;
        padding: 1vh 2vh 1vh 2vh;
        background-color: rgb(22, 22, 22);
        box-shadow: rgb(0, 0, 0) 0px 2px 3px;
  
    }
    #page2 > .main-box div p{
        margin-bottom: 0;
        margin-top: 0;
        
    }
    #page2 > .main-box div h3::after{
        display: none;
      
        
    }
    #page3 .boxy div{
        position: relative;
        height: auto;
        margin: 2vh;
        width: 20%;
        border-radius: 5px;
        
    }
    #page3 .boxy{
        height: auto;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    
    }
    
  
}
.arrow{
    position: fixed;
    box-shadow: 1px 1px 6px 0px rgba(52, 76, 97, 0.26);
    border-radius: 50%;
    height: 6vh;
    z-index: 1;
    bottom: 2%;
    right: 3%;
   
   
}

#map{
    background-color: black;
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 5vh;

}
