.main-footer {
  display: grid;
  //margin: 0.5em 0;
  place-content: center;
  padding: 2em 0;
  //padding-top: 5rem;
  align-self: flex-end;
  background-color: #000000;
  position: relative;
  /*
  &::before {
    content: '';
    position: absolute;
    top: 0;
    height: 3rem;
    right: 3rem;
    left: 3rem;
    background-color: #18171d;
  }*/
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3rem;
    right: 0;
    background-color: $purple-light;
  }

  &.fixed {
    position: fixed;
  }

  & a,
  & .jakoodkaz {
    padding: 0 1em;
    white-space: nowrap;
    font-size: 1em;
    line-height: 48px;
    transition: 250ms ease-in;
    position: relative;
    transform: scale(1);
    font-weight: 700;
    text-transform: uppercase;
    color: #bf94ff;
  }

  & a:hover {
    color: #ffffff;
  }
}
