@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=latin-ext');

* {
  margin: 0;
  font-family: Roboto;
  padding: 0;
  box-sizing: border-box;
  line-height: 120%;
  text-decoration: none;
  color: currentColor;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  color: $white;
  overflow-x: hidden;
}

body {
  background-color: $dark;
  background-color: #0e0e10;
}

::-webkit-scrollbar {
  display: none;
}

.all {
  display: grid;
  width: 100%;
  min-height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 0.5em;
  grid-template-rows: auto 1fr auto;
}

img,
a {
  display: block;
}

li {
  list-style: none;
}

main {
  align-self: stretch;
  display: grid;
  grid-row-gap: 4em;
  margin: 2em 0;

  & > section {
    display: grid;
    place-content: center;
  }
}

.main-footer a {
  color: inherit;

  &:hover {
    color: $twitch-light;
  }
}
