$dark: #18202e;
$accent: #d66829;
$light: #d5e7e7;
$white: #f5f5f5;

.contact-me {
    background-color: $dark;
    padding: 3em 0;
    color: $light;

    & .wrapper {
        padding: 0 2em;
        display: grid;
        justify-items: center;
        grid-row-gap: 5px;

        & .button {
            margin: 0;
            text-transform: none;
        }
    }
}